:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
    --vp-font-family-base: "宋体", "SimSun", "Noto Serif SC", "Punctuation SC", "Inter", ui-sans-serif, system-ui, "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Heiti SC", "Microsoft YaHei", "DengXian", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.VPHome {
    margin-bottom: 64px !important;
}

.VPHome .VPHomeFeatures {
    margin-bottom: 32px !important;
}

.VPHome .VPTeamMembers.small.count-1 .container {
    display: block;
    max-width: 100% !important;
}

.VPHome .VPTeamMembers .container .item {
    width: 100%;
}

.VPHome .VPTeamMembers .VPTeamMembersItem {
    width: 100%;
    border: 1px solid var(--vp-c-bg-soft);
    transition: border-color 0.25s;
}

.VPHome .VPTeamMembers .VPTeamMembersItem:hover {
    border-color: var(--vp-c-brand-1);
}

.VPHome .ToResume {
    text-decoration: none;
}

.VPHome .VPHero .image-container {
    height: 256px;
}

.VPHome .VPHero .image-container .VPImage {
    max-width: 450px;
}

.VPTeamPage {
    margin: 0 0 64px !important;
}

.VPTeamPage .VPTeamMembers .VPTeamMembersItem .avatar .avatar-img {
    width: 100%;
    height: 100%;
    object-position: center top;
}

@media (max-width: 960px) {
    .VPHome .VPHero .image-container .VPImage {
        max-width: 360px;
    }
}

@media (max-width: 640px) {
    .VPHome .VPHero .image-container .VPImage {
        max-width: 320px;
    }
}

.code-page .VPDoc {
    padding: 32px;
}

.code-page .content {
    max-width: none !important;
}

.ccf-page .content {
    max-width: none !important;
}

.ccf-page .container {
    max-width: none !important;
}

.MathJax {
    position: static !important;
}